<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c0e27fec68.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Register - BankAG</title>
</head>

<body class="gradient-background">
    <section class="login-outer-container">
        <div class="login-container">
            <h3>Join <span class="brand-highlight">BankAG</span> Today</h3>
            <form class="login-items" method="POST" action="/register">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Your name" required>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="your-email@gmail.com" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Create a Password" required>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="index.html">Please Login</a></p>
        </div>
    </section>
    <footer>&copy; 2024 BankAG. All rights reserved.</footer>
</body>
</html>